@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select {
  @apply w-full px-2 py-1 outline-none border rounded-md
}

button {
  @apply px-4 py-1 rounded-md font-medium
}

label {
  @apply font-medium
}

.jumpPrinter {
  page-break-after: always;
}

@page {
  margin: .3cm;
}

@media print {
  .noprinter {
    display: none
  }

  body {
    width: 21cm;
  }
}